/* Coolors Exported Palette - https://coolors.co/99e2b4-88d4ab-78c6a3-67b99a-56ab91-469d89-358f80-248277-14746f-036666 */

/* CSS HEX */
--celadon: #99e2b4ff;
--celadon-2: #88d4abff;
--mint: #78c6a3ff;
--mint-2: #67b99aff;
--zomp: #56ab91ff;
--zomp-2: #469d89ff;
--viridian: #358f80ff;
--pine-green: #248277ff;
--skobeloff: #14746fff;
--caribbean-current: #036666ff;

/* CSS HSL */
--celadon: hsla(142, 56%, 74%, 1);
--celadon-2: hsla(148, 47%, 68%, 1);
--mint: hsla(153, 41%, 62%, 1);
--mint-2: hsla(157, 37%, 56%, 1);
--zomp: hsla(162, 34%, 50%, 1);
--zomp-2: hsla(166, 38%, 45%, 1);
--viridian: hsla(170, 46%, 38%, 1);
--pine-green: hsla(173, 57%, 33%, 1);
--skobeloff: hsla(177, 71%, 27%, 1);
--caribbean-current: hsla(180, 94%, 21%, 1);

/* SCSS HEX */
$celadon: #99e2b4ff;
$celadon-2: #88d4abff;
$mint: #78c6a3ff;
$mint-2: #67b99aff;
$zomp: #56ab91ff;
$zomp-2: #469d89ff;
$viridian: #358f80ff;
$pine-green: #248277ff;
$skobeloff: #14746fff;
$caribbean-current: #036666ff;

/* SCSS HSL */
$celadon: hsla(142, 56%, 74%, 1);
$celadon-2: hsla(148, 47%, 68%, 1);
$mint: hsla(153, 41%, 62%, 1);
$mint-2: hsla(157, 37%, 56%, 1);
$zomp: hsla(162, 34%, 50%, 1);
$zomp-2: hsla(166, 38%, 45%, 1);
$viridian: hsla(170, 46%, 38%, 1);
$pine-green: hsla(173, 57%, 33%, 1);
$skobeloff: hsla(177, 71%, 27%, 1);
$caribbean-current: hsla(180, 94%, 21%, 1);

/* SCSS RGB */
$celadon: rgba(153, 226, 180, 1);
$celadon-2: rgba(136, 212, 171, 1);
$mint: rgba(120, 198, 163, 1);
$mint-2: rgba(103, 185, 154, 1);
$zomp: rgba(86, 171, 145, 1);
$zomp-2: rgba(70, 157, 137, 1);
$viridian: rgba(53, 143, 128, 1);
$pine-green: rgba(36, 130, 119, 1);
$skobeloff: rgba(20, 116, 111, 1);
$caribbean-current: rgba(3, 102, 102, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #99e2b4ff, #88d4abff, #78c6a3ff, #67b99aff, #56ab91ff, #469d89ff, #358f80ff, #248277ff, #14746fff, #036666ff);
$gradient-right: linear-gradient(90deg, #99e2b4ff, #88d4abff, #78c6a3ff, #67b99aff, #56ab91ff, #469d89ff, #358f80ff, #248277ff, #14746fff, #036666ff);
$gradient-bottom: linear-gradient(180deg, #99e2b4ff, #88d4abff, #78c6a3ff, #67b99aff, #56ab91ff, #469d89ff, #358f80ff, #248277ff, #14746fff, #036666ff);
$gradient-left: linear-gradient(270deg, #99e2b4ff, #88d4abff, #78c6a3ff, #67b99aff, #56ab91ff, #469d89ff, #358f80ff, #248277ff, #14746fff, #036666ff);
$gradient-top-right: linear-gradient(45deg, #99e2b4ff, #88d4abff, #78c6a3ff, #67b99aff, #56ab91ff, #469d89ff, #358f80ff, #248277ff, #14746fff, #036666ff);
$gradient-bottom-right: linear-gradient(135deg, #99e2b4ff, #88d4abff, #78c6a3ff, #67b99aff, #56ab91ff, #469d89ff, #358f80ff, #248277ff, #14746fff, #036666ff);
$gradient-top-left: linear-gradient(225deg, #99e2b4ff, #88d4abff, #78c6a3ff, #67b99aff, #56ab91ff, #469d89ff, #358f80ff, #248277ff, #14746fff, #036666ff);
$gradient-bottom-left: linear-gradient(315deg, #99e2b4ff, #88d4abff, #78c6a3ff, #67b99aff, #56ab91ff, #469d89ff, #358f80ff, #248277ff, #14746fff, #036666ff);
$gradient-radial: radial-gradient(#99e2b4ff, #88d4abff, #78c6a3ff, #67b99aff, #56ab91ff, #469d89ff, #358f80ff, #248277ff, #14746fff, #036666ff);